body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

h1 , h2 , h3, h4 , h5{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
       }
   

/* Navigation */
nav {
    background-color: #F7A9B8;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Header */
header {
    background-color: #D3D3FF;
    padding: 20px;
}

h1{
    font-size:x-large;
      color: #fff; 
}
/* Section */
.section {
    padding: 20px;
}

